@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}
header{
    height: 72px;
    display: flex;
    align-items: center;
    padding: 0 20%;
    justify-content: space-between;
    background-color: gray;
}
header a{
    margin-right: 25px;
    font-weight: 500;
    font-size: 14px;
    color: #18191f;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&display=swap');

.logo{
    font-family: Pacifico;
    font-size: 45px;
}
